# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the key takeaways from the course.
<b> Objectives:</b>
* Python
* SQL
* R
* VBA
* Java

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. SciPy

| Data Science Tools |
|-|
| Apache Spark |
| Hadoop |
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
# This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

In [26]:
# This will convert 200 minutes to hours by diving by 60.

In [27]:
200/60

3.3333333333333335

## Author
Nityanand Shetty